{% extends 'base.html.twig' %}

{% block title %}Demande de création d'un bénéficiaire{% endblock %}

{% block page_title %}Demande de création d'un bénéficiaire{% endblock %}
{% block body %}
     <div class="container">
    {% include 'add_beneficiary/_beneficiary.html.twig' %}
    </div>
{% endblock %}
