<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="#">Valider demande de création de compte</a>
    <a class="dropdown-item" href="#">Valider ajout de bénéficiaire</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Valider demande de suppresion de compte</a>
</div>
