<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="/valide-customers">Valider demande de création de compte</a>
    <a class="dropdown-item" href="/valide-beneficiaries">Valider des bénéficiaires</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="/customer-delete-validation">Valider demande de suppresion de compte</a>
</div>
