<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="/add-beneficiary">Ajouter un bénéficiaire</a>
    <a class="dropdown-item" href="/beneficiaries">Liste de vos bénéficiaires</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="/transfer">Effectuer un virement</a>
    <a class="dropdown-item" href="/account">Mon compte</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="/customer-delete">Supprimer mon compte</a>
</div>
