<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

</head>
<body class="container-fluid">
    <header class="container">
        {# Default navbar #}
        {% if not is_granted('ROLE_USER') %}
            {% include '_default_navbar.html.twig' %}
        {% endif %}

    </header>

    <main class="container">
{% block body %}{% endblock %}
    </main>
    <footer class="text-center">Golgoth XIII - <img src="{{ asset('build/images/mon_logo.svg') }}" height="20" width="20" /> 2021 </footer>
</body>
</html>