{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block page_title %}{{ contentTitle }}{% endblock %}

{% block body %}
    {%  for row in content  %}<p>{{ row }}</p>{% endfor %}
{% endblock %}
