{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block page_title %}{{ contentTitle }}{% endblock %}

{% block body %}
    <div class="container text-justify" >
        {%  for row in content  %}
        <p>{{ row }}</p>
        {% endfor %}
    </div>
{% endblock %}
